// =================== Page Description =================
.page-description {
   position: relative;
   padding-block: clamp(var(--space-lg), 6vw, var(--space-2xl));

   &:after {
      content: '';
      position: absolute;
      background-color: var(--color-brown-dark);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 20%;
      opacity: 0.6;
   }
   &__container {
      display: flex;
      align-items: center;
      padding-inline: clamp(var(--container-padding-small), 6vw, var(--container-padding));
      gap: clamp(var(--space-lg), 6vw, var(--space-2xl));
      max-width: 850px;
      @media (width < 48em) {
         flex-direction: column-reverse;
         text-align: center;
      }
   }

   &__image {
      flex-shrink: 0;
      width: 272px;
      max-width: 70%;
      aspect-ratio: 272/355;
      border-radius: var(--radius-md);
      overflow: hidden;

      img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media (width < 48em) {
         width: min(300px, 80%);
      }
   }
   &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);
   }
}
