@use "@scss/abstracts/_functions.scss" as *;
body {
   font-family: var(--main-font);
   color: var(--color-black);
   font-size: toRem(14);
   line-height: normal;
   font-weight: 400;
   // background-color: green;
}
.wrapper {
   position: relative;

   display: flex;
   flex-direction: column;
   min-height: 100vh;
   overflow: hidden;
   & > main {
      flex-grow: 1;
   }
}
