html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-main);
	font-size: var(--font-size-base);
	color: var(--color-text);
	background-color: var(--color-bg);
	line-height: var(--line-height-normal);
	font-weight: 400;
	min-height: 100vh;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
}

/* Wrapper layout */
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;

	& > main {
		flex-grow: 1;
	}
}

[class$='__container'] {
	width: 100%;
	max-width: var(--container-max);
	padding-inline: var(--contaimer-padding);
	margin-inline: auto;
}
