@use "@scss/abstracts/_functions.scss" as *;
@use "@scss/abstracts/_variables.scss" as *;

.productCard {
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: toRem(14);
   padding: toRem(20);
   max-width: toRem(220);
   max-height: toRem(260);
   border-radius: 8px;

   // overflow: hidden;

   &.promo {
      background-color: var(--color-gray);
      transition: background-color 0.3s ease-in-out;
      filter: drop-shadow(toRem(5) toRem(5) toRem(15) var(--color-black-25));
      @media (any-hover: hover) {
         &:hover {
            background-color: var(--color-white);
         }
      }
      // background-color: green;
   }
   &.default {
      background-color: var(--color-white);
      filter: drop-shadow(toRem(5) toRem(5) toRem(15) var(--color-black-25));
   }
   &__image {
      max-width: 100%;
      height: toRem(130);
      // aspect-ratio: 151/130;
      flex: 1 1 auto;
      overflow: hidden;
      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.02);
         }
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__content {
      max-width: toRem(180);
      font-size: toRem(14);
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
   }
   &__title {
      margin-block-end: toRem(4);
      text-align: center;
      text-transform: capitalize;
   }
   &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      row-gap: toRem(10);
      p {
         margin: 0;
      }
   }
   &__price {
      font-weight: 700;
   }
}
