.footer {
	padding-block: clamp(var(--space-xl), 1rem + 2vw, var(--space-2xl))
		clamp(var(--space-md), 0.5rem + 1vw, var(--space-xl));
	background-color: var(--color-white);

	&__container {
		// margin-inline: auto;
		// padding-inline: toRem(15);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: clamp(1.5rem, 0.5rem + 2vw, 2.5rem);
	}
	&__content {
		display: flex;
		justify-content: center;
		align-content: center;
	}
	&__logo {
		flex-shrink: 0;
		align-self: flex-start;
		flex-grow: 0;
	}
	&__items {
		padding-block-start: var(--space-md);
		align-self: flex-end;
		display: flex;
		flex-wrap: wrap;

		column-gap: clamp(1rem, 1rem + 2vw, 2.5rem);
		row-gap: clamp(0.5rem, 0.3rem + 1vw, 1rem);
	}
	&__item {
		color: var(--color-black);
		font-size: var(--font-size-sm);
		font-weight: 400;
		line-height: normal;
		flex-shrink: 0;
		text-decoration: none;
		padding-inline-end: clamp(var(--space-sm), 1rem + 2vw, var(--space-xs));
		transition:
			text-decoration 0.4s,
			color 0.4s;
		a {
			color: var(--color-black-25);

			&:hover {
				text-decoration: underline;
				color: var(--color-black);
			}
		}
		a.active {
			text-decoration: none;
			font-weight: 700;
			color: var(--color-black);
		}
	}
}
