@use "@scss/abstracts/_functions.scss" as *;
@use "@scss/abstracts/_variables.scss" as *;

.footer {
   padding-block: toRem(30) toRem(20);
   background-color: var(--color-white);
   @media (max-width: toEm(768)) {
      padding-block: toRem(20) toRem(10);
   }
   @media (max-width: toEm(480)) {
      padding-block: toRem(10) toRem(5);
   }
   &__container {
      max-width: toRem(1174);
      margin-inline: auto;
      padding-inline: toRem(15);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: toRem(30);
      @media (max-width: toEm(768)) {
         row-gap: toRem(20);
      }
   }
   &__content {
      display: flex;
      justify-content: center;
      align-content: center;
      // flex-wrap: wrap;
   }
   &__logo {
      flex-shrink: 0;
      align-self: flex-start;
      flex-grow: 0;
   }
   &__items {
      padding-block-start: toRem(18);
      align-self: flex-end;
      display: flex;
      flex-wrap: wrap;
      // justify-content: flex-start;
      column-gap: toRem(40);
      row-gap: toRem(10);
      @media (max-width: toEm(768)) {
         column-gap: toRem(20);
      }
   }
   &__item {
      color: var(--color-black);
      font-size: toRem(12);
      font-weight: 400;
      line-height: normal;
      flex-shrink: 0;
      text-decoration: none;
      transition: text-decoration 0.3s;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
