@use "@scss/abstracts/_functions.scss" as *;
@use "@scss/abstracts/_variables.scss" as *;

// =================== Header Page ============

.headerPage {
   padding-top: toRem(135);
   position: relative;
   min-block-size: toRem(260);

   &__bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      aspect-ratio: 1440/260;
      // max-height: toRem(260);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__container {
      position: relative;
      padding-inline: toRem(15);
      z-index: 1;
      padding-bottom: toRem(80);
   }
   &__title {
   }
}
//  ============================ title ====================================
.title {
   padding-inline: toRem(10);
   text-align: center;
   &__text {
      text-transform: capitalize;
      line-height: normal;
      &:not(:last-child) {
         margin-bottom: toRem(20);
         @media (max-width: toEm(768)) {
            margin-bottom: toRem(10);
         }
      }
   }
   .page {
      font-size: toRem(40);
      font-weight: 700;
   }
   .article {
      font-size: toRem(24);
      font-weight: 400;
   }
   .white {
      color: var(--color-white);
   }
   .black {
      color: var(--color-black);
   }
   @media (max-width: toEm(992)) {
      .page {
         font-size: toRem(36);
      }
   }
   @media (max-width: toEm(768)) {
      .page {
         font-size: toRem(28);
      }
   }
}

//  ======================== Product Card =================
.productCard {
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: toRem(14);
   padding: toRem(20);
   max-width: toRem(220);
   max-height: toRem(260);
   border-radius: 8px;

   // overflow: hidden;

   &.promo {
      background-color: var(--color-gray);
      transition: background-color 0.3s ease-in-out;
      filter: drop-shadow(toRem(5) toRem(5) toRem(15) var(--color-black-25));
      @media (any-hover: hover) {
         &:hover {
            background-color: var(--color-white);
         }
      }
      // background-color: green;
   }
   &.default {
      background-color: var(--color-white);
      filter: drop-shadow(toRem(5) toRem(5) toRem(15) var(--color-black-25));
   }
   &__image {
      max-width: 100%;
      height: toRem(130);
      // aspect-ratio: 151/130;
      flex: 1 1 auto;
      overflow: hidden;
      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.02);
         }
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__content {
      max-width: toRem(180);
      font-size: toRem(14);
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
   }
   &__title {
      margin-block-end: toRem(4);
      text-align: center;
      text-transform: capitalize;
   }
   &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      row-gap: toRem(10);
      p {
         margin: 0;
      }
   }
   &__price {
      font-weight: 700;
   }
}
