// @keyframes fadeUp {
// 	to {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }

.title {
	padding-inline: 0.625rem;
	text-align: center;
	color: var(--color-gray-100);
	max-width: 32ch;
	margin: 0 auto;
	letter-spacing: 0.02em;
	text-wrap: balance;

	// opacity: 0;
	// transform: translateY(15px);
	// animation: fadeUp 1.3s ease forwards;

	&--black {
		color: var(--color-black);
	}
}
