.product-details {
   padding-block: clamp(var(--space-lg), 6vw, var(--space-2xl));

   &__container {
      padding-inline: clamp(var(--space-xxs), 2vw, var(--space-sm));
   }
   &__body {
      display: flex;
      align-items: flex-start;
      gap: clamp(var(--space-sm), 4vw, var(--space-2xl) + 1rem);
   }
   &__image {
      flex-shrink: 0;
      width: 50%;
      max-width: 500px;
      max-height: 500px;
      aspect-ratio: 498 / 355;
      border-radius: var(--radius-md);
      overflow: hidden;

      img {
         display: block;
         width: 100%;
         height: auto;
         object-fit: cover;
      }
   }
   &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: clamp(var(--space-xs), 6vw, var(--space-md));
      color: var(--color-black);
   }
   &__info {
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);
   }

   &__row,
   &__description {
      display: flex;
      align-items: baseline;

      font-size: var(--font-size-lg);
      line-height: 1.5;
   }

   &__label {
      white-space: nowrap;
      font-weight: 600;
   }
   &__value {
      font-weight: 500;
      p + p {
         margin-top: var(--space-xxs);
      }
   }
   @media (width<48em) {
      &__body {
         max-width: 80%;
         flex-direction: column-reverse;
         align-items: center;
         gap: var(--space-lg);

         margin-inline: auto;
      }
      &__image {
         width: 100%;
      }
      &__description {
         // text-align: center;
      }
   }
}
