@use "../../scss/abstracts/functions" as *;
@use "../../scss/abstracts/variables" as *;

// ================== SearchInput ==================
.searchInput {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: toRem(19);
   padding-inline: toRem(15);
   padding-block: toRem(10);
   &__label {
      flex-shrink: 0;
   }
   &__input {
      color: var(--color-black-50);
      font-size: toRem(12);
      line-height: normal;
      font-weight: 400;
      padding: toRem(6) toRem(36);
      flex: 0 0 toRem(180);
      background-color: var(--color-white);
      box-shadow: toRem(4) toRem(4) toRem(20) toRem(0) var(--color-black-25);
      border-radius: toRem(4);

      &:focus {
         outline: none;
      }
   }
}

// ================== logo ==================
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   block-size: toRem(37);
   inline-size: toRem(37);
   aspect-ratio: 1/1;
   padding: toRem(2);
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
   @media (any-hover: hover) {
      &:hover {
         transform: scale(1.05);
      }
   }
   img {
      width: 100%;
      object-fit: cover;
   }
}

// ================== button ==================
.btn {
   width: toRem(120);
   height: toRem(30);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: toRem(3);
   border: toRem(1) solid var(--color-white);
   color: var(--color-white);
   font-size: toRem(14);
   font-weight: 700;
   line-height: normal;
   box-shadow: 0px 4px 4px 0px var(--color-black-25);

   transition:
      background-color 0.3s,
      color 0.3s,
      box-shadow 0.3s;
   @media (max-width: toEm(768)) {
      width: 100%;
   }
   @media (any-hover: hover) {
      &:hover {
         background-color: var(--color-white);
         color: var(--color-black);
         box-shadow: 0px 4px 4px 0px var(--color-black-50);
      }
   }
}
